/*color: rgb(109, 81, 132);*/

body {
	color: rgb(109, 81, 132);
	font-family: arial, sans-serif;
	text-align: center;
	display: grid;
	margin: 0 auto;
	min-width: 760px;
}

#logo {
	width: 150px;
	height: 150px;
}

header p {
	font-size: 3.5rem;
	font-weight: bold;
	margin: 0;
	padding: 0.25%;
}

nav {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	background-image: linear-gradient(to right, rgb(253, 206, 189), rgb(225, 165, 213), rgb(253, 206, 189));
	padding: .75%;
	color: white;
	font-weight: bold;
}

#allOccasions p:nth-of-type(1) {
	font-weight: bold;
	font-size: 2rem;
	margin: 0;
	padding-top: 1.5%;
}

#allOccasions p:nth-of-type(2) {
	text-align: left;
	padding: 0 1%;
}

#products {
	color: white;
	font-weight: bold;
	margin-left: auto;
	margin-right: auto;
	display: grid;
	padding-top: 2.5%;
	width: 80%;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 7.5%;
}

#products img {
	padding-top: 10%;
	width: 70%;
	height: auto;
}

#products div:nth-of-type(1) {
	background-color: rgb(225, 165, 214);
}

#products div:nth-of-type(2) {
	background-color: rgb(180, 203, 232);
}

#products div:nth-of-type(3) {
	background-color: rgb(253, 207, 189);
}