/*color: rgb(109, 81, 132);*/

body {
	color: rgb(109, 81, 132);
	font-family: arial, sans-serif;
	text-align: center;
	display: grid;
	margin: 0 auto;
}

#logo {
	width: 150px;
	height: 150px;
}

header p {
	font-size: 3.5rem;
	font-weight: bold;
	margin: 0;
	padding: 0.25%;
}

nav {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	background-image: linear-gradient(to right, rgb(253, 206, 189), rgb(225, 165, 213), rgb(253, 206, 189));
	padding: .75%;
	color: white;
	font-weight: bold;
}

#allOccasions p:nth-of-type(1) {
	font-weight: bold;
	font-size: 2rem;
	margin: 0;
	padding-top: 1.5%;
}

#allOccasions p:nth-of-type(2) {
	text-align: left;
	padding: 0 1%;
}

#products {
	margin-left: auto;
	margin-right: auto;
	display: grid;
	width: 80%;
	grid-template-columns: repeat(3, 1fr);
}

#products div {
	border: solid black 1px;
}